@import '../base/index';

.comments {}

.comment-list,
.comment-list .children {
  margin: 0;
  padding: 0;
  list-style: none;
}

.comment-list .children {
  padding-left: .8rem;
  border-left: .2rem solid $gray-light;

  @media screen and #{$mq-min-sm} {

    padding-left: 1.3rem;
  }

  @media screen and #{$mq-min-lg} {

    padding-left: 1.8rem;
  }
}

.comment {
  margin: 2rem 0 4rem;
  font-size: 1.7rem;
  line-height: 1.333;
}

.comment .reply,
.comment-meta {
  color: $gray;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.333;
  overflow: hidden;
}

.comment-author {

  .avatar {
    margin-top: .2rem;
    margin-right: 1rem;
    float: left;
  }

  .says {
    @include visually-hidden();
  }
}

.comment-metadata .edit-link::before {
  content: ' — ';
}

.comment-content p {
  margin: 1.5rem 0;
}

.comment-form {
  display: flex;
  flex-direction: column;
}

[class^='comment-form-'] {
  order: -1;
  margin: 2rem 0 0;
}

.comment-notes,
.logged-in-as {
  margin: 3rem 0 0;
  color: $gray;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.333;
}
