@import '../base/_index.scss';

.comments {}

.comment-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.comment {
  margin: 2rem 0 6rem;
  font-size: 1.7rem;
  line-height: 1.333;
}

.comment .reply,
.comment-meta {
  color: $gray;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.333;
  overflow: hidden;
}

.comment-author .avatar {
  margin-top: .2rem;
  margin-right: 1rem;
  float: left;
}

.comment-metadata .edit-link::before {
  content: ' — ';
}

.comment-content p {
  margin: 1.5rem 0;
}
