@import '../base/index';

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-item {
  margin: 0;
}

.menu-item.active a {
  color: $gray-darker;
}

.header {

  .menu {
    display: flex;
    flex-wrap: nowrap;
    font-family: $font-brand;
    font-size: 2em;
    line-height: 1;
  }

  .menu-item {
    margin-right: 3rem;
    padding-top: 0;
  }
}

.footer {

  .menu {
    text-align: center;
  }

  .menu-item {
    display: inline-block;
    padding: 0 1rem;
    font-size: 1.7rem;
    line-height: 1.333;
  }
}

.nav-links {
  @include clearfix();
  padding-top: .7rem;
  border-top: 1px solid $gray-light;
  font-size: 1.7rem;
  line-height: 1.333;
}

.nav-previous {
  float: left;
}

.nav-next {
  float: right;
}
