@import '../base/index';

.nav {
  margin: 0;
  padding: 0;
  list-style: none;

  .menu-item {
    margin: 0;
  }

  .menu-item.active a {
    color: $gray-darker;
  }
}

.site-header .nav {
  display: flex;
  flex-wrap: nowrap;
  font-family: $font-brand;
  font-size: 2em;
  line-height: 1;

  .menu-item {
    margin-right: 3rem;
    padding-top: 0;
  }
}

.site-footer {
  text-align: center;

  .nav,
  .menu-item {
    display: inline-block;
  }

  .menu-item {
    padding: 0 1rem;
    font-size: 1.7rem;
    line-height: 1.333;
  }
}
