@import '../base/index';

// Common page styles
.page-header {
  font-weight: 400;
}

// Homepage
.home {

  .page-header {
    display: none;
  }
}

// Single post
.single {

  .entry-content > p:first-child::first-letter {
    margin: 1rem .15em .9rem 0;
    float: left;
    font-size: 3em;
    line-height: .6;
  }

  .entry-header {
    text-align: center;
  }

  @media #{$mq-min-lg} {

    .entry-header {
      display: flex;
      flex-direction: column;
      margin-bottom: 8.5rem;
    }

    .page-header {
      order: 1;
      margin-top: 2rem;
      font-size: 6rem;
    }

    .byline {
      margin-top: 11rem;
      font-size: 1.3rem;
      font-style: normal;
      letter-spacing: .1rem;
      text-transform: uppercase;
    }

    .updated {
      top: 14.2rem;
      bottom: auto;
    }
  }
}
