.search-form {
  display: flex;

  @media screen and #{$mq-max-md} {
    width: 100%;
    margin-top: 1rem;
  }

  .body & {
    margin: 3rem 0;
  }

  @media screen and #{$mq-min-md} {

    .header & {
      width: 30rem;
    }
  }

  > label {
    flex: 1;
  }
}

.search-field.search-field {
  display: flex;
  flex: 1;
  margin: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-submit.search-submit {
  padding-right: 1rem;
  padding-left: 1rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
