@import '../base/index';

.site {
  padding: 0 1rem 1rem;

  @media screen and #{$mq-min-sm} {
    padding: 0 2rem 1rem;
  }

  @media screen and #{$mq-min-md} {
    padding: 0 8rem 2rem;
  }
}

.site-container {
  max-width: 1170px;
  margin: 0 auto;
}

.site-container--header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.site-header {
  font-weight: 400;
}

.site-container--body {
  $svg-color: uri-encode(unquote('#{$gold-light}'));

  margin: 3.5rem -1rem;
  padding: 1px 1rem 1rem;
  background-color: $white;
  box-shadow: 0 1px 4px $darken-01;

  @media screen and #{$mq-min-sm} {
    margin-right: auto;
    margin-left: auto;
    border: 1.5rem solid transparent;
    border-image:
      url('data:image/svg+xml;utf8,\
      <svg xmlns="http://www.w3.org/2000/svg"\
        viewBox="0 0 70 70" width="70" height="70">\
        <g fill="#{$svg-color}">\
          <ellipse cx="15" cy="15" rx="4" ry="4"/>\
          <ellipse cx="35" cy="15" rx="4" ry="4"/>\
          <ellipse cx="55" cy="15" rx="4" ry="4"/>\
          <ellipse cx="15" cy="35" rx="4" ry="4"/>\
          <ellipse cx="55" cy="35" rx="4" ry="4"/>\
          <ellipse cx="15" cy="55" rx="4" ry="4"/>\
          <ellipse cx="35" cy="55" rx="4" ry="4"/>\
          <ellipse cx="55" cy="55" rx="4" ry="4"/>\
        </g>\
      </svg>') 25 round;
    border-radius: .7rem;
  }

  @media screen and #{$mq-min-md} {
    padding: 0 3.5rem;
  }

  @media screen and #{$mq-min-lg} {
    padding: 0 9rem 4.5rem;
  }
}
