@import '../base/index';

.widgets {
  display: flex;
  flex-wrap: wrap;
}

.widget {
  flex: 1 0 26.7rem;
  margin: 0 0 3rem;
  padding: 0 1rem;
  color: $gray;
  font-size: 1.7rem;
  line-height: 1.333;

  ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin: 0;
  }
}

.widget-title {
  margin: 0 0 1.5rem;
  padding-bottom: .3rem;
  border-bottom: .2rem solid $gray-light;
  color: $gray;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.widget_nav_menu {
  flex: 1 0 100%;

  .widget ~ & {

    .menu {
      padding-top: 2rem;
      border-top: .2rem solid $gray-light;
    }
  }
}
