{
  "extends": [
    "stylelint-config-wordpress/scss",
    "stylelint-config-property-sort-order-smacss"
  ],
  "rules": {
    "indentation": 2,
    "number-leading-zero": null,
    "selector-pseudo-element-colon-notation": "double"
  }
}
