@import './variables';

@mixin clearfix() {

  &::before,
  &::after {
    display: table;
    content: ' ';
  }

  &::after {
    clear: both;
  }
}

@mixin visually-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
  overflow: hidden;
}

@mixin label-text() {
  font-size: 1.3rem;
  letter-spacing: .1em;
  line-height: 1.333;
  text-transform: uppercase;
}

@mixin button($background: $gray-light, $color: $gray-dark) {
  padding: .9rem 2rem;
  transition: background-color .2s, outline-color .2s;
  border: 0;
  border-radius: .2rem;
  outline: 1px solid transparent;
  outline-offset: -2px;
  background: $background;
  color: $color;

  // reset ui buttons:
  font-family: inherit;
  font-size: 2rem;
  font-weight: 400;
  line-height: normal;
  text-shadow: none;
  box-shadow: none;
  -webkit-font-smoothing: auto; // stylelint-disable
  cursor: pointer;

  &:hover {
    background: lighten($background, 3%);
  }

  &:active {
    transition: none;
    background: darken($background, 3%);
  }

  &:focus {
    outline-color: fade-out($color, .3);
  }
}

@mixin button-small() {
  padding: .4rem 1.5rem;
  font-size: 1.5rem;
}
