$screen-sm: 480px;
$screen-md: 720px;
$screen-lg: 960px;
$screen-xl: 1440px;

$mq-max-sm: '(max-width: #{$screen-sm})';
$mq-min-sm: '(min-width: #{$screen-sm + 1px})';
$mq-max-md: '(max-width: #{$screen-md})';
$mq-min-md: '(min-width: #{$screen-md + 1px})';
$mq-max-lg: '(max-width: #{$screen-lg})';
$mq-min-lg: '(min-width: #{$screen-lg + 1px})';
$mq-max-xl: '(max-width: #{$screen-xl})';
$mq-min-xl: '(min-width: #{$screen-xl + 1px})';

$font-brand: 'Amatic SC', 'Arial Narrow', sans-serif;
$font-copy: 'Gentium Basic', 'Georgia', serif;
