@import '../base/index';

@mixin button($background, $color) {
  transition: background-color .2s, outline-color .2s;
  outline: 1px solid transparent;
  outline-offset: -2px;
  background: $background;
  color: $color;

  &:hover {
    background: lighten($background, 3%);
  }

  &:active {
    transition: none;
    background: darken($background, 3%);
  }

  &:focus {
    outline-color: fade-out($color, .3);
  }
}

[type='email'],
[type='password'],
[type='search'],
[type='text'],
[type='url'],
select,
textarea {
  display: block;
  width: 100%;
  padding: .8rem 1.2rem;
  transition: border-color .2s;
  border: .1rem solid $gray-light;
  border-radius: .2rem;
  outline: 0;
  background: $white;
  font-family: inherit;
  font-size: 2rem;

  &:focus {
    border-color: $gray;
  }
}

select {
  height: 4rem;

  &[multiple] {
    height: auto;
  }
}

button,
[type='button'],
[type='reset'],
[type='submit'],
.search-submit.search-submit {
  @include button($gray-light, $gray-dark);
  padding: .9rem 2rem;
  border: 0;
  border-radius: .2rem;

  // reset ui buttons:
  font-family: inherit;
  font-size: 2rem;
  font-weight: 400;
  line-height: normal;
  text-shadow: none;
  box-shadow: none;
  -webkit-font-smoothing: auto; // stylelint-disable
}

[type='submit'] {
  @include button($gray-dark, $white);
  font-weight: 700;
}
